*{
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
    font-family: "Josefin Sans";
}

.navbar{
    margin: 0 auto;
    width: 100vw;
    background-color: #fff;
    height: 70px;
}
nav{
    max-width: 1200px;
    margin: 0 auto;
    display :flex ;
    justify-content: center;
}

ul{
    height: 70px;
    display: flex;
    align-items: center;
    gap: 60px;
   
}



.main-container{
    display: block;
    flex-direction: column;
    width: 100vw;
    height: 1000px;
}

.first-montage{
    width: 100vw;
    display: flex;
    flex-direction:row;
    height: 700px;
}

.info-block{
    width: 50%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-content{

    height: 400px;
    width: 100vw;
    border-left: 6px solid #fff;
    display: flex;
    
    justify-content: center;
}
.info-content h1{
    color: #fff;
    font-size: 52px;
    width: 500px;
    line-height: 70px;
    font-weight: 500;
}

li{
    list-style: none;
    color: #000;
    font-weight: 900;
    font-size: 20px;
}