*{
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
    font-family: "Josefin Sans";
}

.navbar{
    margin: 0 auto;
    width: 100vw;
    background-color: #000;
    height: 50px;
}
nav{
    max-width: 1200px;
    margin: 0 auto;
}

ul{
    height: 50px;
    display: flex;
    align-items: center;
    gap: 60px;
}



li{
    list-style: none;
    color: #fff;
}